* {
    margin: 0;
    padding: 0;
}

#main {
    background-image: url(/assets/images/background\ image.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-position: 10% 0%;
    background-size: cover;
}

span {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px
}

#addNextPostDiv {
    position: relative;
    top: 10px;
    left: 39%;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
    border: 2px solid black;
    text-align: center;
    border-radius: 6px;
    background-color: #cac9f3;
}

#potsImageAdress {
    width: 250px;
    margin: 5px;
    height: 25px;
    border-radius: 6px;

}

#actor {
    width: 250px;
    height: 25px;
    margin: 5px;
    border-radius: 6px;
}

#addPostButton {
    width: 70px;
    height: 30px;
    margin: 5px;
    border-radius: 6px;
    background-color: #2196F3;
    border: 1px solid grey;
}

#addPostButton:hover {
    border: 1px solid rgb(91, 157, 243);
    cursor: pointer;
    opacity: 0.9;
}

.AddInput {
    resize: none;
}

#titleDiv {
    width: 800px;
    background-color: red;
    text-align: center;
    position: relative;
    top: 58px;
    left: 23%; 
    border-radius: 5px;
    background-color: #cac9f3;
    
}

.postDiv img {
    height: 470px;
    width: 420px;
    position: relative;
    left: 12%;
    top: 8px;
}

h2 {
    position: relative;
    left: -90px;
    top: 132px;
    opacity: 0.8;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    margin-top: 10px;
    display: none;
}

.arrowDiv {
    position: relative;
    top: 150px;
    left: -244px;
    text-align: center;
    z-index: 2;
}

.bal {
    margin-left: 6px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.postDiv {
    height: 600px;
    width: 550px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    background-color: #cac9f3;
}

.postDiv:hover {
    border: 1px solid rgb(91, 157, 243);
}

.appearingDiv {
    position: relative;
    left: 332px;
    bottom: -44px;
}

.but {
    height: 30px;
    width: 100px;
    border: 1px solid grey;
    font-size: 14px;
    border-radius: 6px;
    color: white;
    background-color: #2196F3;
}

.but:hover {
    border: 1px solid rgb(91, 157, 243);
    cursor: pointer;
    opacity: 0.9;
}

.AddInput {
    width: 450px;
    padding-left: 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid grey;
    padding-top: 6px;
    height: 26px;
}

.AddInput:hover {
    border: 1px solid rgb(91, 157, 243);
}

.AddButton {
    height: 34px;
    width: 90px;
    border-radius: 6px;
    color: white;
    background-color: #2196F3;
    border: 1px solid grey;
    font-size: 14px;
    position: relative;
    top: -12px;
}

.AddButton:hover {
    opacity: 0.8;
    border: 1px solid rgb(91, 157, 243);
    cursor: pointer;
}

.AddDiv {
    min-height: 50px;
    width: 536px;
    margin: 6px 0;
    padding: 0 0 0 20px;
    font-size: 18px;
    font-family: initial;
    border-radius: 6px;
    border: 1px solid grey;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #cac9f3;
}

.replyButton {
    height: 26px;
    width: 60px;
    margin-bottom: 6px;
    margin-left: -10px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    background-color: #2196F3;
}

.replyButton:hover {
    border: 1px solid rgb(91, 157, 243);
    opacity: 0.8;
    cursor: pointer;
}

.deleteButton {
    height: 25px;
    width: 60px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    position: relative;
    left: 56px;
    bottom: -26px;
    background-color: #2196F3;
}

.deleteButton:hover {
    border: 1px solid rgb(91, 157, 243);
    opacity: 0.8;
    cursor: pointer;
}

.replyDiv {
    display: flex;
    justify-content: end;
    margin-top: -32px;
    margin-bottom: 6px;
    margin-right: 4px;
}

.textArea {
    height: 20px;
    padding-left: 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid grey;
    padding-top: 6px;
    resize: none;
}

.textArea:hover {
    border: 1px solid rgb(91, 157, 243);
}

.addReplyCommentButton {
    border-radius: 6px;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    left: 10px;
    width: 36px;
    margin-left: 4px;
    background-color: #2196F3;
}

.addReplyCommentButton:hover {
    border: 1px solid rgb(91, 157, 243);
    opacity: 0.8;
    cursor: pointer;
}

.replyCommentDiv {
    word-wrap: break-word;
    text-align: start;
    overflow: hidden;
    width: 180px;
    min-height: 30px;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 14px;
    padding: 6px;
    margin-left: 338px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.replyCommentDiv:hover {
    border: 1px solid rgb(91, 157, 243);
}

.AddDiv:hover {
    border: 1px solid rgb(91, 157, 243);
}

.h4 {
    margin-left: -10px;
    color: black;
    padding-top: 6px;
    font-family: 'Raleway', sans-serif;
}

i {
    color: grey;
}

i:hover {
    cursor: pointer;
}

.deleteReplyButton {
    border-radius: 6px;
    color: white;
    background-color: #2196F3;
    border: 1px solid grey;
    font-size: 14px;
    width: 50px;
    height: 28px;
}

.deleteReplyButton:hover {
    border: 1px solid rgb(91, 157, 243);
    opacity: 0.8;
    cursor: pointer;
}